*.cache
*.class
*.jar
*/target/
*/project/target/
*/jar/
*/build/
*/out/
*/spark-temp/
*/spark-warehouse/
*/.project
*/.classpath
*/.cache-main
*/.cache-tests
*/.settings/
*/.worksheet/
*/.gradle/
*/.idea/
*-reduced-pom.xml
*.iml
